<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미스터아빠 Services for Managers View</title>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    </script>
</head>

  <!--Main Navigation-->

  <!--Main layout-->
  
  <!--Main layout-->

<body style="background-color: 66CCFF;">
    <div class="container">
        <div class="text-center" style="margin-top: 60px;">
            <img style="height: 100px;" src="https://barkhayot-portfolio-bucket.s3.amazonaws.com/logo.png" alt="">
        </div>
        <div class="row" style="margin-top: 100px;">
            <div class="col-3">
                <header>
                    <!-- Sidebar -->
                    <nav id="sidebarMenu" class="nav flex-column nav-pills me-3">
                    <div class="d-flex align-items-start" style="font-size: 20px;" >
                        <div class="list-group list-group-flush mx-3 mt-4">
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                            <i class="fas fa-chart-area fa-fw me-3"></i><span>Services</span>
                        </a>
                        <a href="https://clinquant-snickerdoodle-53a106.netlify.app/" target="_blank" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-lock fa-fw me-3"></i><span>Analytics</span></a>
                        <a href="http://ec2-54-180-107-190.ap-northeast-2.compute.amazonaws.com:3457/" target="_blank" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-chart-line fa-fw me-3"></i><span>Car Dispatch</span></a>
                        <a href="http://ec2-54-164-134-247.compute-1.amazonaws.com:3456/" target="_blank" class="list-group-item list-group-item-action py-2 ripple">
                            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Excel Service</span>
                        </a>
                       
                        </div>
                    </div>
                    </nav>
                    <!-- Sidebar -->
                </header>
            </div>
            <div class="col-9">
                
            </div>  
        </div>
        
    </div>
    
    
        <!-- Navbar -->
      </header>
</body>
</html>